# This file is a placeholder for environment variables required to run this project.                                       │
# Currently, there are no environment variables needed.
 
# Example of what future variables might look like:                                                                        │
# NEXT_PUBLIC_API_KEY=your_api_key_here                                                                                    │
# DATABASE_URL=your_database_url_here                                                                                      │
# SECRET_KEY=your_secret_key_here                                                                                          │

# Password for protected pages/routes                                                                                      │
PAGE_ACCESS_PASSWORD=password

# EmailJS Configration for the Contact Page
NEXT_PUBLIC_EMAILJS_SERVICE_ID=YOUR_SERVICE_ID
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=YOUR_TEMPLATE_ID
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=YOUR_PUBLIC_KEY
